*{
    margin: 0;
    padding: 0;
}

body, html{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100vh;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

footer{
    width: 100%;

}

.bottom{
    width: 100%;
    height: 76px;
    text-align: center;
    background-color: #FAFAFA;


    p{
        letter-spacing: .2;
        font-size: 14px;
        font-weight: 700;
        text-transform: capitalize;
        color: #737373;
        margin-top: 20px;
        
    }
}
.top{
    display: flex;
    width: 100%;
    padding: 80px 195px;
    background-color: #21263A;

    ul{
        display: inline;
        width: 241px;
        height: 178px;
        
        h3{
            font-weight: 700;
            font-size: 24px;
            letter-spacing: .1;
            text-transform: capitalize;
            padding-bottom: 20px;
            color: #fff;
            
        }
        li{
            font-weight: 400;
            font-size: 14px;
            letter-spacing: .2;
            color: #ffff;
            margin-top: 12px;

            a{
                font-weight: 700;
                font-size: 14px;
                letter-spacing: .2;
                color: #fff;
                text-transform: capitalize;
                display: inline;

                i{
                    font-weight: 700;
                    font-size: 20px;
                    color:#23A6F0;
                    margin-right: 10px;
                  
                }
            }
        }
    }

    .paddin_{
        padding-right: 235px;
    }


}
